/*
#36AA12	
#3E7A2B	
#1C6705	
#4DBF28	
#59BF39
*/

@-ms-viewport {
    width: device-width;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    line-height: 1.2;

    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.bgfix {
    position: fixed;
    width:  100%;
    height: 100%;
    z-index: -1;

    background: url(../img/bg.jpg);
    background-size: contain;
    background-attachment: fixed;
}

@media (min-width: 700px) {
    .bgfix {
        background-size: cover;
    }
}

/** Headlines **/

h1, h2, h3 {
    font-family: 'Varela Round', sans-serif;
}

h1 { font-size: 2em;   }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }

h2 { margin-bottom: 0.3em; }
h3 { margin: 0.3em 0;      }

h3 { color: rgb(21,77,4); margin-bottom: 0.2em; }

/** Containers **/

header {
    color: white;
    background-color: rgba(21, 77, 4, 0.75);
    padding: 2em 3em;
    height: 60px;
    width: 66%;
    margin: 0 auto;
}

header h1 {
    float: left;
    height: 60px;
}

article {
    background-color: white;
    width: 66%;
    margin: 0 auto;
    padding: 2em 3em;
}

section {
    margin-bottom: 2em;
}

p {
    margin-bottom: 1em;
}

ol {
    list-style: decimal;
    margin-left: 1.2em;
}

#iphone5s {
    width: 364px;
    margin: 0 auto;
}

.feature {
    clear: both;
    overflow: auto;
    margin-bottom: 3em;
}

.hidden {
    display: none;
    transition: 1s ease-out;
}

#notsupported {
    border: 1px solid red;
    padding: 0.5em;
    box-shadow: 1px 1px 5px #f88;
    margin: 1em 0;
}

#supported {
    border: 1px solid green;
    padding: 0.5em;
    box-shadow: 1px 1px 5px #8f8;
    margin: 1em 0;
}

/** Navigation **/

header nav ul {
    float: right;
    margin-top: 2.5em;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 2em;
}

nav a {
    font-family: 'Lato', sans-serif;
    color: white;
}

nav a.mobile {
    display: none;
    margin-top: 1.5em;
}

/** Mobile navigation **/

#menu {
    display: none;
}

@media (max-width: 700px) {
    #iphone5s {
        display: none;
    }

    .screenshot { display: none; }

    header nav {
        float: right;
    }

    nav a.mobile {
        display: inline-block;
        border: 1px solid white;
        padding: 0.4em 0.6em;
    }
    
    nav a.mobile:focus {
        color: #0f0;
    }

    header ul { display: none; }

    #menu {
        margin-top: 3em;
        display: block;
    }

    #menu a {
        font-size: 16px;
        color: #1C6705;

        display: block;
        box-sizing: border-box;
        padding: 1em;
    }

    #menu ul {
        float: none; 
        width: 100%;
    }
    
    nav ul li {
        display: block;
        margin:    0;

        background: white;

        border-bottom: 1px solid #1C6705;
    }
}

footer {
    background: white;
    width: 66%;
    margin:  0 auto;
    padding: 0 3em;
}

/** Small print **/

.smallprint, .smallprint a, .smallprint a:visited {
    font-size: 0.3em;
    color: #888;
}

/** Images **/

.screenshot {
    float: right;
}